<ul class="list-group list-group-flush">
  <li
    *ngFor="let contractType of contractTypes; index as index"
    class="list-group-item"
  >
    <app-contract-type-input
      *ngIf="contractType === editing; else notEditing"
      [contractType]="contractType"
      (cancel)="onCancel()"
    ></app-contract-type-input>
    <ng-template #notEditing>
      <app-contract-type-item
        [contractType]="contractType"
        (select)="onSelect($event)"
      ></app-contract-type-item>
    </ng-template>
  </li>
</ul>
